.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(0deg, #02C2FF, #024a60);
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* HOME */
.home {
position: absolute;
width: 1756px;
height: 1137px;
left: -14px;
top: -31px;}



/* FOTO */
.foto {
position: absolute;
width: 1756px;
height: 1137px;
left: -14px;
top: -31px;
}


/* FONDO */
.fondo {
  background: linear-gradient(0deg, #02C2FF, #024a60);
  background-blend-mode: multiply, normal;
  filter: blur(31.3471px);
  border-radius: 8px;
  
}
/* NIYO DESIGNS */
.nd {
position: absolute;
width: 1103px;
height: 233px;
left: 26.39px;
top: 396px;

font-family: 'Akshar';
font-style: normal;
font-weight: 700;
font-size: 211.454px;
line-height: 233px;
}

